/* Parte del Bootstrap para los containers, rows y col.  */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
}
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Row */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  /* Columns */
  [class*="col-"] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .col-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  
  .col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  
  .col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  
  .col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  
  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .col-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  
  .col-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  /* Responsive Columns */
  @media (min-width: 576px) {
    .col-sm {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-sm-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-sm-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-sm-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-sm-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-sm-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-sm-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-sm-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-sm-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .col-md {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-md-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-md-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-md-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-md-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-md-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-md-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-md-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-md-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .col-lg {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-lg-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-lg-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-lg-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-lg-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-lg-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-lg-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-lg-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-lg-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  
  @media (min-width: 1200px) {
    .col-xl {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
  
    .col-xl-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%;
    }
  
    .col-xl-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
    }
  
    .col-xl-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  
    .col-xl-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  
    .col-xl-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%;
    }
  
    .col-xl-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
    .col-xl-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%;
    }
  
    .col-xl-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  
    .col-xl-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  
    .col-xl-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%;
    }
  
    .col-xl-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%;
    }
  
    .col-xl-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  

  /* Select de bootstrap*/
  .form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de fuente */
    font-weight: 400;
    line-height: 1.5;
    color: #495057; /* Color del texto */
    background-color: #fff; /* Fondo blanco */
    background-clip: padding-box;
    border: 1px solid #ced4da; /* Color del borde */
    border-radius: 0.375rem; /* Bordes redondeados */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-select:focus {
    border-color: #86b7fe; /* Color del borde en foco */
    outline: 0; /* Elimina el contorno predeterminado */
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25); /* Sombra en foco */
  }
  
  .form-select[multiple], 
  .form-select[size]:not([size="1"]) {
    height: auto; /* Ajusta la altura para selects con múltiple selección */
    padding-right: 0.75rem; /* Ajuste de padding para múltiples líneas */
  }
  
  .form-select::-ms-expand {
    display: none; /* Oculta la flecha en Internet Explorer */
  }
  
  .form-select:disabled {
    background-color: #e9ecef; /* Color de fondo para selects deshabilitados */
    opacity: 1;
  }
  
  .form-select option {
    font-weight: 400;
  }

  /*        Siempre dejar espacio para el SIDEBAR       */

  .no-sidebar {
    margin-left: 25vh; 
    padding: 20px; 
    box-sizing: border-box; 
    transition: all 0.3s ease; 
  }